[submodule "vendor/snipmate-snippets"]
	path = vendor/snipmate-snippets
	url = git://github.com/scrooloose/snipmate-snippets.git
[submodule "vendor/fuzzy_file_finder"]
	path = vendor/fuzzy_file_finder
	url = git://github.com/jamis/fuzzy_file_finder.git
[submodule "autoload/vim-pathogen"]
	path = autoload/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundles/hobo-vim"]
	path = bundles/hobo-vim
	url = git://github.com/solars/hobo-vim.git
[submodule "bundles/nerdtree"]
	path = bundles/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundles/nerdcommenter"]
	path = bundles/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundles/snipmate.vim"]
	path = bundles/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
